# ==========================================================
# Python
# ==========================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================================
# Virtual environment
# ==========================================================
venv/

# ==========================================================
# IDE / editor files
# ==========================================================
.vscode/
*.idea/

# ==========================================================
# Configs with sensitive info
# ==========================================================
config/config.json
.env

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# OS files
# ==========================================================
.DS_Store
Thumbs.db
